.fotoradio{
  /*background-image: url('./assest/FotoFONDO.png');rgb(81,81,82,0.99)*/
  background: linear-gradient(to top, #1e1e1e 0%, #7d7d7d 100%);
  
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100% ;
  -webkit-background-size: 100% 100%;           /* Safari 3.0 */
     -moz-background-size: 100% 100%;           /* Gecko 1.9.2 (Firefox 3.6) */
       -o-background-size: 100% 100%;           /* Opera 9.5 */
          background-size: 100% 100%; 
  min-height: 100vh;
}
.container-p{
  background: rgb(179, 37, 37);
}

.borde{
  border: yellow 3px solid;
  border-radius: 5px;
}


.audio-padre{
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 380px;
}
 .audio{
  position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
   
    margin: auto;
}
.redes{
  display: flex;
  justify-content: space-around;
}
.logo{
  
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: space-around;
   
    
}
.geilla-vivo{
  right: 0;
    position: absolute;
    /* margin-top: 30px; */
    left: 0;
    top: 25px;
}
@media only screen and (max-width: 991px) {
  
  .hidden-contenido{
    display: none;
  }
  }